<h2 class="text-center mt-4">Product Details</h2>
<div class="container">
	<div class="row justify-content-md-center">
		<div class="col-8 mt-4">
			<div class="card text-center shadow mb-5 bg-white rounded">
			  <div class="card-header font-italic">
			    <% if @product.image %>
				    	<p class="card-text"><%= image_tag @product.image, :width => 200, :height => 200 %></p>
		    	<% else %>
				    	<p class="text-danger">No image</p>
			    <% end %>
			  </div>	
			  <div class="card-body">
			    <div class="card-text text-left"><b>Product: </b><%= @product.name %></div>
			    
			    <div class="card-text text-left"><b>Price: </b><%= @product.price %> rs. only\-</div>
			    <% if @product.quantity != 0 %>
			    	<div class="card-text text-left"><b>quantity: </b><%= @product.quantity %></div>
			    <% else %>
			    	<div class="card-text text-left text-danger">Currently showing out of stock</div>
			    <% end %>

			    <div class="card-text text-left mt-4">
			    	<%= render 'orders/form' %>
			    </div>
			  </div>
			  <div class="card-footer text-muted">
			  	<small>Created <%= time_ago_in_words(@product.created_at) %> ago, edited <%= time_ago_in_words(@product.updated_at) %> ago</small>
			  </div>

			</div>
			<%= link_to '[ Cancel and return to products page ]', products_path, class: 'text-info' %> 

		</div>
	</div>
</div>


